<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scinfo">
	
	<!--  게시판 맵퍼    -->	
	<select id="count" parameterType="TourBoardDto.TourBoardDTO" resultType="int">
		select count(*) from tourstory_board where board_category=#{board_category} and board_close=0
	</select>
	
	<select id="mycount" parameterType="TourBoardDto.TourBoardDTO" resultType="int">
		select count(*) from tourstory_board where member_board_nick = #{member_board_nick}
	</select>
	
	<select id="countAll" resultType="int">
		select count(*) from tourstory_board 
	</select>

	<select id="replycount" parameterType="int" resultType="int">
		select count(*) from board_reply where board_num = #{board_num}
	</select>
	
	<select id="checktour" parameterType="TourBoardDto.PageDTO" resultType="TourBoardDto.TourBoardDTO">
	 select b.* from (select rownum as rowm,a.* from 
	(select * from tourstory_board where member_board_nick = #{nick} order by board_num desc)a)b
	</select>
	
	<select id="nicklist" parameterType="TourBoardDto.PageDTO" resultType="TourBoardDto.TourBoardDTO">
     <![CDATA[
        select b.* from (select rownum as rowm,a.* from 
	(select * from tourstory_board where member_board_nick = #{nick} order by board_num desc)a)b
			where b.rowm>=#{startRow} and b.rowm<=#{endRow}
     ]]>
	</select>
	
	<select id="blist" parameterType="TourBoardDto.PageDTO" resultType="TourBoardDto.TourBoardDTO">
     <![CDATA[
        select b.* from (select rownum as rowm,a.* from 
	(select * from tourstory_board where board_category = #{category} and board_close=0 order by board_num desc)a)b
			where b.rowm>=#{startRow} and b.rowm<=#{endRow}
     ]]>
	</select>
	
	<select id="replylist" parameterType="TourBoardDto.ReplyDTO" resultType="TourBoardDto.BoardReplyDTO">
     <![CDATA[
        select b.* from (select rownum as rowm,a.* from 
	(select * from board_reply where board_num = #{num} order by reply_num desc)a)b
			where b.rowm >= #{startReply} and b.rowm <= #{endReply}
																					
     ]]>
	</select>

	<update id="readCount" parameterType="int">
		update tourstory_board
		set board_readcount=board_readcount+1 where board_num=#{board_num}
	</update>
 
	<select id="content" parameterType="int" resultType="TourBoardDto.TourBoardDTO">
		select * from tourstory_board where board_num=#{board_num}
	</select>

	<insert id="save" parameterType="TourBoardDto.TourBoardDTO">
		insert into tourstory_board(board_num,member_board_nick,board_subject ,board_date ,board_readcount ,
		board_upload ,board_content ,board_category ,board_like,board_close)
			values(tour_board_seq.nextval,#{member_board_nick},#{board_subject},sysdate,0,
			#{board_upload,jdbcType=VARCHAR},#{board_content},#{board_category},0,0)
	</insert>
	
	<insert id = "reply" parameterType="TourBoardDto.BoardReplyDTO">
		insert into board_reply(board_num,member_reply_nick,reply_content,reply_num,reply_date)
		 values(#{board_num},#{member_reply_nick},#{reply_content},tour_reply_seq.nextval,sysdate)
	</insert>
	
	<select id="getfile" parameterType="int" resultType="String">
		select board_upload from tourstory_board where board_num=#{board_num}
	</select>
	
	<select id="getsubject" parameterType="int" resultType="String">
		select board_subject from tourstory_board where board_num=#{board_num}
	</select>

	<update id="update" parameterType="TourBoardDto.TourBoardDTO">
		update tourstory_board set board_subject=#{board_subject},
		board_content=#{board_content},board_category=#{board_category}
		<if test="board_upload!=null">
			,board_upload=#{board_upload}
		</if>
		where board_num=#{board_num}
	</update>

	<delete id="delete" parameterType="int">
		delete from tourstory_board where board_num=#{board_num}
	</delete>
	
	<delete id="deleteimage" parameterType="String">
		delete from tourstory_image where board_subject=#{board_subject}
	</delete>
	
	<update id="likeup" parameterType="int">
		update tourstory_board
		set board_like=board_like+1 where board_num=#{board_num}
	</update>
	
	<select id="like" parameterType="int"  resultType="int">
		select board_like from tourstory_board where board_num=#{board_num}
	</select>
	
	<select id="search_sb" parameterType="TourBoardDto.PageDTO" resultType="TourBoardDto.TourBoardDTO">
	   <![CDATA[
	   select b.* from (select rownum as rowm,a.* from
	   (select * from tourstory_board where upper(BOARD_subject) like upper('%'||#{searchKey}||'%') or upper(board_content) like upper('%'||#{searchKey}||'%')
    or upper(member_board_nick) like upper('%'||#{searchKey}||'%'))a)b
    where b.rowm>=1 and b.rowm<=9
    ]]>		
	</select>
	
	<select id="count_sb" resultType="int" parameterType="TourBoardDto.TourBoardDTO">
		select count(*) from tourstory_board
		where upper(BOARD_subject) like upper('%'||#{searchKey}||'%') or upper(board_content) like upper('%'||#{searchKey}||'%')
		or upper(member_board_nick) like upper('%'||#{searchKey}||'%')
	</select>
	
	<update id="close" parameterType="TourBoardDto.TourBoardDTO">
		update tourstory_board
		set board_close = #{board_close} where board_num=#{board_num}
	</update>
	
	<select id="bestlike" resultType="TourBoardDto.TourBoardDTO">
	<![CDATA[
        select b.* from (select rownum as rowm,a.* from 
	(select * from tourstory_board where board_close=0 order by board_like desc)a)b
			where b.rowm >= 1 and b.rowm <= 6				
     ]]>
	</select>
	
	<delete id="replydelete" parameterType="int">
		delete from board_reply where board_num=#{board_num}
	</delete>
	
	<insert id="image" parameterType="TourBoardDto.TourBoardDTO">
		insert into tourstory_image(board_subject,board_image)
		values(#{board_subject},#{board_image}) 
	</insert>
	
	<select id="imagecheck" parameterType="String" resultType="TourBoardDto.TourBoardDTO">
		select board_image from tourstory_image where board_subject = #{board_subject}
	</select>
	
	<select id="contentload" parameterType="int" resultType="String">
		select board_content from tourstory_board where board_num = #{board_num}
	</select>
	
	<select id="klike" resultType="TourBoardDto.TourBoardDTO">
		<![CDATA[
        select b.* from (select rownum as rowm,a.* from 
		(select * from tourstory_board where (board_category = 'korea' or board_category = 'abroad')
		 and board_close=0 order by board_like desc)a)b
			where b.rowm >= 1 and b.rowm < 2																			
    	 ]]>
	</select>
	
	<select id="rlike" resultType="TourBoardDto.TourBoardDTO">
		<![CDATA[
        select b.* from (select rownum as rowm,a.* from 
		(select * from tourstory_board where (board_category = 'season' or board_category = 'reply')
		 and board_close=0 order by board_like desc)a)b
			where b.rowm >= 1 and b.rowm < 2																			
    	 ]]>
	</select>
	
	<select id="hlike" resultType="TourBoardDto.TourBoardDTO">
		<![CDATA[
        select b.* from (select rownum as rowm,a.* from 
		(select * from tourstory_board where (board_category = 'koreaH' or board_category = 'abroadH')
		 and board_close=0 order by board_like desc)a)b
			where b.rowm >= 1 and b.rowm < 2																			
    	 ]]>
	</select>
	
	<select id="tlike" resultType="TourBoardDto.TourBoardDTO">
		<![CDATA[
        select b.* from (select rownum as rowm,a.* from 
		(select * from tourstory_board where (board_category = 'trip' or board_category = 'food'
		or board_category = 'train' or board_category = 'cycle' or board_category = 'pack'
		or board_category = 'subway' )and board_close=0 order by board_like desc)a)b
			where b.rowm >= 1 and b.rowm < 2																			
    	 ]]>
	</select>
	
</mapper>
	
